@charset "UTF-8";
a:link { text-decoration: none; color: blue;}
a:hover { text-decoration: underline; color: red;}
a:visited { text-decoration: none;}
a:active { text-decoration: none; color:yellow;}

body {

}

div {
}

table{
    width: 100%;
    border: 1px;
}

form{

}

.login-table{
    width: 50%;
    margin: auto;
}

.content{
    display: inline-block;
    text-align: center;
    width: 800px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    text-align: left;
}

.menu-bar{
    padding-top: 5px;
    font-size: large;
    text-align: center;
}

.menu-bar-right{
    text-align:right;
}