<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
    <select id="listAll" resultType="com.portal.service.model.board.dto.BoardDTO">
SELECT b.id,userid,title,name,post_date,view_count
FROM board b join member m on b.id_member=m.id
order by b.id desc
limit #{start},#{pageSize}
	</select>

    <insert id="insert">
        insert into board (id_member, title, content) values (#{id_member}, #{title}, #{content})
    </insert>
    <!--http://theeye.pe.kr/archives/438 참고-->
    <insert id="addAttach">
        insert into attach (fullname, id_board) values (#{fullname}, LAST_INSERT_ID())
    </insert>

    <select id="countArticle" resultType="int">
        select count(*) from board
    </select>
</mapper>














