<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="board">
    <select id="listAll" resultType="com.portal.service.model.board.dto.BoardDTO">
select b.id, title, userid, content, b.post_date, view_count,
(select count(*) from reply r where r.id_board=b.id) count
from board b, member m where b.id_member = m.id
order by b.id desc limit #{start},#{pageSize}
	</select>

    <insert id="insert">
        insert into board (id_member, title, content) values (#{id_member}, #{title}, #{content})
    </insert>
    <!--http://theeye.pe.kr/archives/438 참고-->
    <insert id="addAttach">
        insert into attach (fullname, id_board) values (#{fullName}, (SELECT max(id) FROM board))
    </insert>

    <select id="countArticle" resultType="int">
        select count(*) from board
    </select>

    <update id="increaseViewCount">
        update board set view_count=view_count+1 where id=#{id}
    </update>

    <select id="read" resultType="com.portal.service.model.board.dto.BoardDTO">
        select b.id,title,post_date,content,view_count,name,userid
        from board b join member m on b.id_member=m.id where b.id=#{id}
    </select>

    <select id="getAttach" resultType="String">
        select fullname from attach where id_board=#{id} order by post_date desc
    </select>
    
    <delete id="deleteFile">
        delete from attach where fullname=#{fullName}
    </delete>

    <update id="update">
        update board set title=#{title}, content=#{content} where id=#{id}
    </update>

    <insert id="updateAttach">
        insert into attach (fullname, id_board) values (#{fullName}, #{id})
    </insert>
</mapper>














